<tr class="{CSS_ROW}">
	<td class="std">
		<input type="checkbox" class="input" name="id[]" value="{VAL_ID}" />
	</td>
	<td class="std">
		<input type="input" class="input" name="nr[{VAL_ID}]" value="{VAL_NR}" size="3" maxlength="3"/>
	</td>
	<td class="std">
		{VAL_TITLE}
	</td>
	<td class="std">
		{VAL_TYPE}
	</td>
	<td class="std">
		{VAL_ACTIVE}
	</td>
	<td class="std">
		{VAL_ACC_REF_ID}
	</td>
	<td class="std">
		{VAL_ACC_PERM}
	</td>
	<td class="std small">
		<!-- BEGIN cmd --><div><a href="{HREF_CMD}">{TXT_CMD}</a></div><!-- END cmd -->
	</td>
</tr>